name: ff_boost_premium
description: FF Boost Premium App

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  external_app_launcher: ^3.1.0

flutter:
  uses-material-design: true
